<!-- <div *ngIf="!signalRService.dataBubbleAreaChart; else elseBlock"> -->
    <li *ngFor="let item of bubbleChartData">
      <div>
         {{item.label}} - {{item.data}} - {{item.backgroundColor}}
      </div>
    </li>
    <div style="display: block" *ngIf='bubbleChartData'>
        <canvas baseChart 
        [datasets]="bubbleChartData"
        [labels]="chartLabels"
        [options]="bubbleChartOptions" 
        [legend]="bubbleChartLegend"
        [chartType]="bubbleChartType">
    </canvas>
  </div>
<!-- </div> -->
  
  <!-- <ng-template #elseBlock>
    <li *ngFor="let item of signalRService.dataBubbleAreaChart;">
      <div>
        {{item.label}} - {{item.data}} - {{item.backgroundColor}}
      </div>
    </li>
    <div style="display: block" *ngIf='signalRService.dataBubbleAreaChart'>
        <canvas baseChart 
        [datasets]="signalRService.dataBubbleAreaChart" 
        [labels]="chartLabels"
        [options]="bubbleChartOptions" 
        [legend]="bubbleChartLegend"
        [chartType]="bubbleChartType">
    </canvas>
    </div>
  </ng-template>
  <div *ngIf="errorHTTPGet">
    {{errorHTTPGet}}
  </div> -->