<div *ngIf="!signalRService.data; else elseBlock">
  <li *ngFor="let item of valores">
    <div>
      {{item.label}} - {{item.data}}
    </div>
  </li>
  <div style="display: block" *ngIf='valores'>
    <canvas baseChart
            [datasets]="valores"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            [chartType]="barChartType"
            [colors]="colors"></canvas>
  </div>
</div>
<ng-template #elseBlock>
  <li *ngFor="let item of signalRService.data">
    <div>
      {{item.label}} - {{item.data}}
    </div>
  </li>
  <div style="display: block" *ngIf='signalRService.data'>
    <canvas baseChart
            [datasets]="signalRService.data"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            [chartType]="barChartType"
            [colors]="colors"></canvas>
  </div>
</ng-template>
<div *ngIf="errorHTTPGet">
  {{errorHTTPGet}}
</div>